* {
  font-family: "Inter", sans-serif;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.header-container .header-content {
  display: flex;
}
.header-container {
  background-color: rgb(51, 51, 51, 0.4);
  margin-top: 20px;
}
.header-content {
  padding: 15px 10px;
}

h1 {
  margin: 3rem 0.8rem;
  color: black;
  font-weight: 800;
  font-size: 2.5rem;
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 10px;
  font-size: 1.3rem;
  color: white;
}
button {
  margin: 1rem;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(101, 172, 29, 1);
  color: white;
  padding: 10px 20px;
}
button:hover {
  background-color: gray;
  color: white;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
i {
  font-size: 1.8rem;
  padding-left: 10px;
}
